
.dropdown:hover .dropdown-menu {
    display: block;
}

.carouselImage{
    width: 100%;
    height: 100%;
}


.carouselsize{  
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}
.logo {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 70px; 
}

.slide-image {
    width: 100% !important;
    height: 500px !important;
    object-fit: cover;
    object-position: center;

}

.carousel-holder {
    margin-bottom: 30px;
  
        
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
#carousel-example-generic {
}

.lgi {
    border-color: white !important;
    color: #555!important;
}


.slide {
    width: 100%;
    height: 500px;
   
}

.lcd {
    color:black;
}







.productoContainer {
    height: 80%;
    padding-top: 10%;
    width: 100%;
}

.producto {
    height: 100%;
    width: 100%;
}

.rowBotonVolver {
    text-align: center;
}

.padEx {
    padding-top: 10%;
}



.indent {
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.boderStyle {
    border-color: black; important! 
    background-color: aqua;
}





.btn-login {
    text-decoration-color: white; important!
    background-color: black; 
    border-radius: 60px 20px 5px;
    width: 110px;
    height: 50px;

}



.drop-cualities {
    width: 100% !important; 
     -webkit-box-shadow: 0 6px 12px white !important;
          box-shadow: 0 6px 12px white !important;
}

.disenadores {
    width: 40%;
background-image: url("/images/greybg.jpg");
}

.ideas {
  width: 40%;
background-image: url("/images/greybg2.jpg");  
}
