
.dropdown:hover .dropdown-menu {
    display: block;
}

.carouselImage{
    width: 100%;
    height: 100%;
}


.carouselsize{  
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}
.logo {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 70px; 
}

.slide-image {
    width: 100% !important;
    height: 500px !important;
    object-fit: cover;
    object-position: center;

}

.carousel-holder {
    margin-bottom: 30px;
  
        
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 120px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
#carousel-example-generic {
}

.lgi {
    border-color: white !important;
    color: #555!important;
}


.slide {
    width: 100%;
    height: 500px;
   
}

.lcd {
    color:black;
}







.productoContainer {
    height: 80%;
    padding-top: 2%;
    width: 100%;
}

.producto {
    height: 100%;
    width: 100%;
}

.rowBotonVolver {
    text-align: center;
}

.padEx {
    padding-top: 10%;
}



.indent {
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.boderStyle {
    border-color: black; important! 
    background-color: aqua;
}





.btn-login {
    text-decoration-color: white; important!
    background-color: black; 
    border-radius: 60px 20px 5px;
    width: 110px;
    height: 50px;

}



.drop-cualities {
    width: 100% !important; 
     -webkit-box-shadow: 0 6px 12px white !important;
          box-shadow: 0 6px 12px white !important;
}

.disenadores {
border-bottom-color: black;  
background-color: aliceblue;
}


.ideas {
border-color: black !important;

background-color:darkturquoise;
}



.thumbnail-catalogo {
    height: 200 px !important ;
}



.catalogoProductos {
 max-width: auto;
    height: 230xp;
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    border-left: 3px solid black !important;
    border-right: 3px solid black !important; 
    
}

.catalogoimg {
    width: 100%;
    height: 100%;
}





.lineBlack {
    background-color: black !important;
    height: 2px !important;
    width: 100% !important;
}

.disenadorEIdeas {
    height: 60% !important;
}

.maintamano {
    height: 80% !important;
}

.descripcionProducto {
    margin-top: 20px;
     border-left: 1px solid black; 
    
     border-right: 1px solid black;
    
     border-bottom: 1px solid black;
    
     border-top: 1px solid black;
}

.tituloinformacion {
  
    background-color: white;
}

.cuerpoImformacion {
 background-color: white;
    
}

.detailsInformacion {
    
    color: black;
}

.contenidoInfomacion {
    margin-left: 30px;
    background-color: white;
    padding-bottom: 20px;
}

.detailsInformacionCuerpo {
    margin-top: 0;
    color: black;
    padding-top: 15px;
    padding-bottom: 10px;
}

.btnvolver {
    
    padding-top: 10px;
}

.detailsInformacionContenido {
    color: rgb(192,193,190);
}

.detailsNamesSomosDisenadores {
    
    color: rgb(124,125,125);
}

.lineYellow {
    background-color: rgb(255,245,0)!important;
    height: 2px !important;
    width: 100% !important;
}



.ubicacionPanel {
   padding-top: 30xp; !important
}

.ubicacion {
    padding-top: 210;
}

.disenadorFoto {
    height: 100%;
    width: 50%;    
}
