/* Grading.css */

/*grading global styles*/
.gradingPanel h3, .subHeader, .attemptListBtn, .attemptsList ul li, .gradersList ul li, .gradeHeader .subHeader, .miniBadge {
  /*disable text highlight*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.transition, .inlineButton:hover, .commentSubmit:focus {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease; }

.hide {
/*accessibly hidden*/
position: absolute !important;
top: -9999px !important;
left: -9999px !important; }

/*grading global styles*/

.inlineGrader {
  position:relative;
  height: 100%;
  width: 100%;
  min-height:600px;
  background-color: #eee;
  min-width: 848px;
  display: table;
}

.inlineGrader.noViewer {min-width:0;}


.inlineGrader.maximized{
  position: absolute !important;
  overflow-y: auto;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  z-index:1001;
}

.inlineGrader .docViewer{
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
  padding:0;
}

/* Left Panel */
.previewer {
  border-top: 1px solid #ccc;
  display: table-cell;
  vertical-align: top;
}

.maximized .previewer,
.maximized .previewerInner {height:100%;}

.previewerInner{
  position:relative;
  min-height: 600px;
}

/*BEGIN Tab Panel Overrides*/
.previewer .collapseTabsData{
  background-color: transparent;}
.previewer .collapseTabs .containerTabs .active a:after{
  border-color:transparent;}
/*END Tab Panel Overrides*/

.contentDetailsHeader{
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  border-bottom: 1px solid #ccc;
  background:#dfdfdf;
}
.contentDetailsHeader a{
  padding-right:20px;
  display: inline-block;
  background: url('../images/arrowDown.png') no-repeat center right transparent;
  color:#444;
}
.contentDetailsHeader a:hover{
  text-decoration: underline;
}
.contentDetailsHeader a.expanded{
  background: url('../images/arrowUp.png') no-repeat center right transparent;
}

.submission {
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 25px;
  overflow: auto;
  /*position: absolute; This pushes the submission out of the content area and overlaps the course menu. */ }

.submission.file iframe {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc; }

.submission.text {
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  padding: 60px;}

.submission.download > span {
  display:block;
  padding:12px 12px 0;
  text-align:center;
}

.submission.download .fileTile {
  margin: 20% auto 0 auto;
  width: 210px;
  padding: 20px;
  display: block;
  border: 2px solid #fff;
  background-color: #eee;
  text-align: center;
  overflow:hidden;
  word-wrap:break-word;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }

.submission.download .fileTile, .inlineButton:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0,0,0,.15) !important;
}
  .submission.download .fileTile img {
    margin-bottom: 10px; }
  .submission.download .fileTile span {
    display: block;
    clear: both;
    margin: 5px;
    color: #777;
    font-size: 11px; }
  .submission.download .fileTile .download {
    margin-top: 30px;
    display: block; }

.gradingPanel {
  height: auto;
  width: 380px;
  min-height: 600px;
  display: table-cell;
  vertical-align: top;
  margin-left:-1px;
  padding-bottom:10px;
  border-left:1px solid #ccc;
  border-bottom: 0 }
  .gradingPanel h2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    color: #3c3c3c; }
  .gradingPanel h3 {
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 10px 15px;
    text-transform: uppercase; }

.gradingPanelHeader{
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  position: relative;
  background-color: #444;}

  .delegatedGraders .gradingPanelHeader {
    background:none;
    border-top:1px solid #ccc;
    height:auto;
    padding:4px 0;
  }

.inlineGrader.noViewer .gradingPanel {
  width: 440px;
}

/*------BEGIN RESIZE CONTROLS----------*/
.resizeControls{
  display: table-cell;
  padding-top:2px;
  background:#444;
  z-index: 999;
  width: 30px;
  height: 100%;
  vertical-align: top;
}

.resizeControls.expanded{
  position: absolute;
  right: 5px;
  top: 0px;
  height:30px;
  width:70px;
  background-color: transparent;
}

/*Expand/Collapse button*/
    .gradingPanelCollapse_btn{
      display: block;
      margin:3px;
      float: right;
      height: 22px;
      width:22px;
      background: url('../images/bracket-arrow-left.png') no-repeat center center #fff;
      overflow:hidden;
      text-indent:-1000px;
    }
      .gradingPanelCollapse_btn.expanded{
      background: url('../images/bracket-arrow-right-white.png') no-repeat center center #444;
      }
      .gradingPanelCollapse_btn.expanded:hover,
      .gradingPanelCollapse_btn.expanded:focus
      {
      background-color: #222 !important;
      }

/*Maximizer Btn*/
    .maximizer_btn{
    width:22px;
     margin:3px;
    height:22px;
    float: right;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../images/maximizer-icon-white.png') no-repeat center center #444;
    }
    .maximizer_btn:hover{
    background-color:#222;
    }
    .maximizer_btn.on{
     background-image: url('../images/maximizer-icon.png');
     background-repeat:no-repeat;
     background-position: center center;
     background-color: #fff;
    }

    /*full screen fixes*/
    .locationPane.maximizedWrapper {
	    margin-top:0;
	    position:static;
    }

/*------END RESIZE CONTROLS----------*/


.detailsHeader {
  color: #c5c5c5;
  font-size: 12px;
  padding-left: 10px;
  padding-right:15px;
  background: url('../images/arrowDown-white-small.png') no-repeat center right transparent;
}
.detailsHeader.expanded{
  background: url('../images/arrowUp-white-small.png') no-repeat center right transparent;
}
  .detailsHeader:hover{
    color:#fff;
  }

  .delegatedGraders .detailsHeader {
    padding-left:0;
    color:#444;
    background-image:url('../images/arrowDown-small.png');
  }

  .delegatedGraders .detailsHeader.expanded {
    color:#444;
    background-image:url('../images/arrowUp-small.png');
  }

  .delegatedGraders .detailsHeader:hover,
  .delegatedGraders .detailsHeader:focus {
    color:#000;
  }

  .delegatedGradersHeader {
    margin:0 15px;
    position: relative;
  }

.gradingPanelSection {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
  .gradingPanel .gradingPanelSection h3 { /* applies to the stacked titles in the details section */
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Georgia, serif;
    line-height: 30px;
    height: 30px;
    display: block;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 400;  
    float:none; /* need this to override a style to .gradingPanel h3 @ line 180 */
  }

   .gradingPanelSection p { word-wrap:break-word; margin-bottom:20px;}
  .gradingPanelSection ul,  #participationSummary { margin: 20px;}
   .gradingPanelSection ul li,  #participationSummary li{
     padding:5px 0;
     border-bottom:1px solid #ccc;}
     .gradingPanelSection ul li:last-child,  #participationSummary li:last-child{
      border-bottom:none;
     }
  .gradingPanelSection table.stats {
    border: 1px solid #ccc;
    width: 100%; }
    .gradingPanelSection table.stats tr:first-child {
      background-color: #ccc; }
    .gradingPanelSection table.stats td {
      border: 1px solid #ccc;
      text-align: center;
      padding: 5px; }

      /*these need to be removed if we use float class in the dom*/
       .gradingPanelSection .statDisplay{float:right;}

       .gradingPanelSection .profileCardAvatarThumb{
        line-height: 12px;
        font-size: 100%;
       }

       .gradingPanel .gradeInfoHeader{
        margin:0;
       }

.attempt {
  width: 100%;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}
  .attempt#instructions h4 {
    margin-bottom: 5px;
    font-size: 18px; }
  .attempt#instructions p {
    line-height: 18px;
    margin-bottom: 14px; }

.gradeSubmissionPanel {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0 ;
  background-color: #dff0f4;
}
  .gradeSubmissionPanel h4 {
    border-bottom: none !important; }

.attemptHeader:hover .panelHandle{
      border-color: #ccc;
}

.panelHandle {
  display:block;
  height: 10px;
  border-bottom:1px solid #ADDDE9;
  background: url("../images/arrowDown-small.png") no-repeat center center #def1f5;
  overflow:hidden;
  text-indent:-99999px;
  text-align:center;
}

.panelHandle:hover{
  background-color:#b1dde7;
}

.panelHandle:active {
  background-color: #b1dde7;
}

.panelHandle.expanded {

  background-image: url("../images/arrowUp-small.png");
}

.grade {
  display: inline-block;
  position: absolute;
  margin: 10px 15px 0 0;
  z-index: 1;
  right: 0;
  background-color: #fff;
  height: 40px;
  border: 1px solid #777;
  vertical-align: middle;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
  .grade.readOnly{
    border:none !important;
    background:transparent; }
   /*hide override button when ready only*/
  .grade.readOnly .override{ display:none;}

  .grade.locked {background:transparent;}

  .grade.locked .gradeEntry:hover {
    cursor: not-allowed; }

  .gradeHeader .grade.locked .pointsPossible{
    color:#fff;
  }

/*This 'hides' the 'X' clear button
that shows up in IE10+.  We are not using display: none because
this will muck up the right padding of the input.
Source: http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs
*/
::-ms-clear {
  width : 0;
  height: 0;
}

.gradeEntry {
  background: transparent;
  font-size: 18px !important;
  border: 1px solid transparent !important;
  font-weight: bold;
  text-align: right;
  height: 33px;
  line-height:33px;
  width: 120px;
  float: left;
  color:#000;
}


  .gradeEntry.overridden {
    background: url("../images/overridden-icon-dark.png") 35px center no-repeat;
  }
  .gradeHeader .gradeEntry.overridden {
    background-image: url("../images/overridden-icon.png");
  }

.pointsPossible {
  float: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  margin-right: 5px;
  color:#111;
}

.gradedAnonymously {
  float: right;
  font-size: 11px;
  font-weight: 400;
  color:#111;
}

.subHeader {
	color: #555;
	display: block;
	line-height: 14px;
	font-size: 10px;
	font-weight:normal;
}

.subHeader img.gradeStatus {
	margin-left: 4px;
}
.mainLabel {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:90%;
	}
.gradeHeader .mainLabel{
    width:auto;
}
.attemptNo{
	width: 10%;
	float: right;
	text-align:right;
}

.attemptHeader {
	height: 60px;
	min-width: 305px;
	width: 100%;
	background-color: #dff1f5;
	position: relative;
	-moz-box-shadow: 0 1px 1px #ADDDE9;
	-webkit-box-shadow: 0 1px 1px #ADDDE9;
	box-shadow: 0 1px 1px #ADDDE9;
}

.attemptHeader h3 {
    margin: 0;
    position: relative;
    color: #333;
    display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    }
  .attemptHeader .grade:not(.readOnly) {
    background-color:#fff; /*fallback*/
    background-color: rgba(256,256,256,0.7);
    border: 1px solid #addde9; }
  .attemptHeader .grade.readOnly {
    border: none; }

.attemptHeaderLabel {
  margin: 10px 0 5px 10px;
  display: inline-block;
  width: 200px;
  overflow: auto;
}
.attemptListBtn {
  float: left;
  width:160px;
  border: 1px solid #bae3ef;
  padding: 4px 10px;
  margin: 10px 0 5px 10px;
  height: 40px;
  border-right: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.attemptListDropDown {
  background: url("../images/arrowDown-small.png") center center no-repeat;
  border: 1px solid #bae3ef;
  border-left: none;
  height: 40px;
  width: 23px;
  float: left;
  margin: 10px 0 5px 0;
  overflow:hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent:-9999px;
}
  .attemptListDropDown:hover,
  .attemptListDropDown:focus {
    cursor: pointer;
    background-color: #b2dde6;
  }


.delegatedGraders .attemptListBtn,
.delegatedGraders .attemptListDropDown {
  border-color:#c3c3c3;
  margin:0;
  padding: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height:34px;
}
.delegatedGraders .attemptListDropDown{
	border-left:1px solid transparent;
}
  .delegatedGraders .attemptListDropDown:hover,
  .delegatedGraders .attemptListDropDown:focus {
    background-color: #fff;
    border-left:1px solid #ccc;
  }

.gradeSaveBtn {
  height: 20px;
  width: 50%;
  top: 100%;
  right: 0;
  background: #49A63A url("../images/checkmark_white_li.png") no-repeat center center;
  position: absolute;
  border: 1px solid #5AC24D;
  text-indent:-9999px;
}
.gradeSaveBtn:hover {
    background-color: #449C37; }

.gradeCancelBtn {
  height: 20px;
  width: 50%;
  top: 100%;
  left: -1px;
  background: #DFDFDF url("../images/x_dark_li.png") no-repeat center center;
  position: absolute;
  border: 1px solid #ccc;
  text-indent:-9999px;
  }
  .gradeCancelBtn:hover{
    background-color: #ccc;
  }

.attemptsList, .gradersList {
  position: absolute;
  z-index: 10;
  color:#444;
  top: 49px;
  left:10px;
  width: 181px;
  height: auto;
  border: 1px solid #bae3ef;
  background:#fff;
  -webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 5px 0px  rgba(0,0,0,0.2);
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.2);
}

.delegatedGradersHeader .attemptsList {
  top:100%;
  left:0;
}
  .attemptsList .subHeader {color:#777}
  .attemptsList .attemptNumber {
    font-size: inherit;
    width:80%;
    line-height: 100%;
    text-transform: capitalize;
    cursor: default;
    float: left;
    position: relative;
    cursor: pointer;
    font-weight: normal; }

  .attemptsList ul li,
  .gradersList ul li   {
    border-top: 0;
    color: #333;
    border-bottom:1px solid #bae3ef;
    }
    .attemptsList ul li.current .attemptNumber {
      color:#006f8b;
       }
    .attemptsList ul li a,
    .gradersList ul li a {
      display:block;
      padding: 10px;
      word-break: break-all;
      vertical-align:middle;
    }
    .attemptsList ul li a:hover,
    .attemptsList ul li a:focus {
      background-color: #eee; }
    .attemptsList .attemptInfo {
      display:block;
      color:#333;
    }
  .attemptsList .pointsGraded {
    float: right;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    min-width: 20%; }
    .attemptsList .pointsGraded img {
      margin-top: 12px; }

.gradeHeader {
  min-height: 56px;
  min-width: 305px;
  background-color: #444;
  color: #fff;
  position: relative;
  border-top:1px solid #777;}
  .gradeHeader h3 {
    float: left;
    margin: 10px 0 0 15px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
  .gradeHeader span.date {
    font-size: 11px; }
  .gradeHeader .subHeader {
    color: #eee;
    display: block;
    line-height: 14px;
    font-size: 10px; }

  .gradeHeader .grade.readOnly .pointsPossible,
  .gradeHeader .grade.readOnly .gradeEntry,
  .gradeHeader .grade.locked .gradeEntry,
  .gradeHeader .grade.locked .pointsPossible {
    color: #fff;
  }

.groupListToggle {
  display:block;
  clear:both;
  margin: 0 10px 0 0;
  padding: 4px 20px 4px 12px;
  color: #dedede;
  font-size: 10px;
  text-align:right;
  background: url("../images/arrowDown-white-small.png") no-repeat scroll 98% center;
  text-align: right;
}


.groupListToggle:hover,
.groupListToggle:focus {
  text-decoration:underline;
}

.groupList {
  padding: 6px 15px 15px;
  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;
  background: #555;
}
  .groupList .grade {
    left: auto;
    top: 3px;
    margin:0;
}

.attemptContent .groupList {
    background: transparent;
}
.attemptContent .groupList .grade {
    border-color: #addde9;
}

  .groupList li {
    clear: both;
    display: block;
    position:relative;
    min-height: 38px;
}
  .groupList li > span {
    display:block;
    padding: 5px 164px 5px 0;
    word-wrap: break-word;
}
    .groupList li > span img {
      height:24px;
      float: left;
      margin-right: 9px;
    }


.expandCollapseSwitch {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  height: 15px;
  line-height: 11px;
  margin: 7px 0;
  float: right;
  padding: 1px 6px;
  text-align: center;
  text-transform: lowercase;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  color: #3c3c3c; }
  .expandCollapseSwitch:hover {
    background-color: #eee; }

.miniBadge {
  display: inline-block;
  font-size: 11px;
  float: right;
  font-weight: 800;
  height: 15px;
  line-height: 11px;
  margin: 7px 0;
  padding: 0 4px;
  text-align: center;
  text-transform: lowercase;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  background-color: #666;
  color: #fff; }

.attemptContent {
  position: relative;
  min-width: 305px;
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
  .attemptContent form {
	   margin-top: -1px; }
  
/*Rich Text Button Overrides*/
.attemptContent .textboxToolbar {margin: -2px 0 15px 0;}
.attemptContent a.textboxToolbarBtn {position: absolute; bottom: 4px; left:0; }
.attemptContent a.richText {left: 80px; }

.attemptContent .segment {
  margin:12px 0;
}
  .attemptContent h4,
  .delegatedGraders h4 {
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Georgia, serif;
    line-height: 2;
    display: block;
    margin: 0 15px 0px 15px;
    font-weight: 400; }
    .attemptContent h4 + .groupList .grade {
    border-color: #bbb;
    background: transparent;}
    .attemptContent h4:hover {
      cursor: default; }
  .attemptContent p {
    color: #777;
    line-height: 20px; }
  .attemptContent.delegatedGraders p {
    color:#111;
  }


.attachment {
  padding: 5px 40px 5px 28px;
  display: block;
  background-position: 3px center;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow-x: hidden; }
  .attachment:hover {
    text-decoration: underline; }
  .attachment.selected {
    font-weight: 600;
    text-decoration:underline;
}

.filesList {
  list-style: decimal inside;
  padding: 0;
  margin-top:-1px;
}
  .filesList li {
    display: block;
    position:relative;
    margin: 0 10px;}
  .filesList li a{
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius:2px 2px 2px 2px;
  }
  .filesList .downloadFile {
    position: absolute;
    top: 50%;
  right:10px;
  margin-top:-10px;}
  .filesList .dwnldBtn {
    display: block;
    height: 20px;
    width: 20px;
    background: url("../images/download-icon.png") no-repeat center center white;
    border: 1px solid #ccc; }
    .filesList .dwnldBtn:hover {
      background-color: #f5f5f5;
      border-color: #ccc; }
  .filesList .fileSize {
    display: block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    position: absolute;
    right: 25px;
    color: #777; }

.gradingNoteWrapper, .rubricWrapper {
  padding: 15px; }

.inlineButton {
  width: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 4;
  text-align: center;
  border: 0;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #333;
  height: 24px;
  line-height: 21px;
}
.gradeHeader .inlineButton {
  background-color: transparent;
  border-color: transparent;
}
  .inlineButton.expanded {
    background-color: #ccc;
  }
  .inlineButton.note {
    background-image: url("../images/grading-note-icon.png");
    background-position: center center;
    font-size: 11px;
    height: 24px;
    left: -31px;
    top: 4px;
    width: 24px;
  }
  .inlineButton.rubric {
    background-image: url("../images/rubrics-icon.png");
    background-position: center center;
    width: 28px;
    height:28px;
    background-color: #f9f9f9;
    border-color: #ccc;
  }
  .delegatedGraderRubric .inlineButton.rubric {
    background-color:transparent;
  }
  .inlineButton.override {
    font-size: 11px;
    width: 24px;
    height: 24px;
    background-image: url("../images/override-icon.png");
    background-position: center center;
    overflow:hidden;
    text-indent:-9999px;
  }
  .attemptContent .groupList .inlineButton.override {
    background-image: url("../images/override-icon-dark.png");
  }
  .inlineButton.revert {
    font-size: 11px;
    width: 24px;
    height: 24px;
    background-image: url("../images/revert-icon.png");
    background-position: center center;
    background-color:#dfdfdf;
    border-color:#ccc;
    text-indent:-9999px;
  }
  .inlineButton:hover {
    border: 0;
    cursor:pointer; }


.docFile {
  background-image: url("../images/doc-icon.png"); }

.genericFile {
  background-image: url("../images/genericFile-icon.png"); }

.textFile {
  background-image: url("../images/textFile-icon.png"); }

/* BEGIN FEEDBACK/GN UI */
.feedbackWrapper {
  padding: 0 15px;
  position:relative;
  margin-top: 10px;
}
.feedbackWrapper .dateStamp{
  color:#6c6c6c;
font-size: 10px;}
.feedbackWrapper .vtbegenerated{
  margin-top: 6px !important;
}
.gradingPanel .button-4 {
  margin-top: 10px;
  float: right;
}

.gradingPanel .avatar {
  float: left;
  padding: 0;
  display: inline-block;
  margin: 0 15px 10px 0;
  width: 24px;
  height: 24px;
  background-color: #fff; }
.gradingPanel .comment {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px; }
  .gradingPanel .comment h5 {
    display: block;
    font-size: 13px;
    color: #3c3c3c; }
  .gradingPanel .comment .dateStamp {
    line-height: 15px;
    font-size: 11px; }
  .gradingPanel .comment p {
    clear: both;
    color: #111;}
  .gradingPanel .comment .attachedFiles {
    margin-top: 10px;
    display: block; }
  .gradingPanel .comment .attachment {
    padding-left: 25px;
    background-position: 0 center; }
  .gradingPanel #feedback_filePicker div.field, .gradingPanel #notes_filePicker div.field{
    background-color:rgba(255, 255, 255, 0.9);
    bottom: 29px;
    display: inline-block;
    height: auto;
    left: 13px;
    line-height: 40px;
    margin: 3px;
    overflow: hidden;
    position: absolute;
    right: 13px;
    width: auto;
    word-break: normal;
    word-wrap: break-word;
    border-top:1px solid #ddd;}
  .gradingPanel #feedbackFiles_csBrowse, .gradingPanel #feedbackFiles_localBrowse,
  .gradingPanel #noteFiles_localBrowse, .gradingPanel #noteFiles_csBrowse{
    margin:7px -1px 7px 7px;}
  .gradingPanel #feedbackFiles_listHtmlDiv .label, .gradingPanel #noteFiles_listHtmlDiv .label{
    display:none;}
  .gradingPanel #feedbackFiles_table, .gradingPanel #noteFiles_table {
    margin:20px 5px;}
  .gradingPanel .fileInputWrapper{
    margin-right:0;}

  .gradingPanel .commentBoxButton{
    margin: 10px 15px 10px 17px;
  text-decoration: underline;
  display: inline-block;
  padding-left: 20px;
  background: url('../images/grading-note-icon.png') no-repeat left center;
  }

  /*BEGIN VTBE OVERRIDES*/
  .gradingPanel .defaultSkin table.mceLayout{border:1px solid #b9e2ed !important; background-color:#fff;}
  .gradingPanel .defaultSkin .mceIframeContainer{border-top:none; border-bottom:1px solid #b9e2ed }
  .gradingPanel .defaultSkin td.mceToolbar{min-width: 100%; background-color:#fff}
  .gradingPanel .defaultSkin table.mceToolbar {margin:0; height:23px;}
  .gradingPanel .defaultSkin table.mceLayout {border:none}
  .gradingPanel .defaultSkin .mceStatusbar { background-color:#fff; height:30px;}
  .gradingPanel .defaultSkin .mceStatusbar .mceCharCount {font-size:10px; color:#999;}
  .gradingPanel .defaultSkin .mceStatusbar div {margin:6px 0 0 0}
  .gradingPanel .defaultSkin .mceStatusbar div span {color:#999}
  .gradingPanel .defaultSkin .mceFirst.mceToolbar{
      position: absolute;
        bottom: 4px;
        left: 20px; /* note that there is a one-pixel RTL adjustment for this, even though we don't reverse the order of the Content Editor icons in RTL*/
        min-width: 0;
        margin-bottom:-1px
       }
      .gradingPanel .defaultSkin .mceStatusbar a.mceResize {margin-top:9px;}
       .gradingPanel .defaultSkin .mceSplitButton:hover,  .gradingPanel .defaultSkin .mceSplitButton:hover a.mceOpen{border-color:#bbb;}
       .gradingPanel .defaultSkin span.mce_spellchecker { background: url('../images/spell-check-icon.png') no-repeat center center !important;}
      .gradingPanel .mceFirst:hover, .gradingPanel .mceLast:hover{
        background-color:#fff;
      }
   /*END VTBE OVERRIDES*/






.commentSubmit {
  width: 100%;
  font-size: 13px;
  line-height: 155%;
  font-family: "Lucida Grande", Arial, sans-serif;
  padding: 5px 0 5px 8px;
  resize: none;
  clear: both;
  width: 100%;
  height: 60px;
  font-size: 13px;
  border: 1px solid #ccc;
  overflow: auto; }
  .commentSubmit:focus {
    border: 1px solid #777; }

.submitComment {
  background-color: #3c3c3c;
  color: #e9e9eb;
  float: right;
  font-size: 12px;
  font-weight: bold;
  height: 19px;
  line-height: 19px;
  margin: 5px 5px 0 0;
  text-align: center;
  width: 64px; }

/* END FEEDBACK/GN UI */
.stream_show_more_data {
  color:#555; /* IE fallback */
  color: rgba(0, 0, 0, 0.6);
  font: 19px/27px Georgia, serif;
  margin: 0 auto 0 -170px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  z-index: 1;
  top: 20%;
  left: 50%;
  width: 340px; }

.stream_show_more_data .main-message {
  font: 600 23px "Helvetica Neue",sans-serif;
  margin-bottom: 6px; }

.stream_show_more_data .extras:after {
  bottom: -56px;
  color:#555; /* IE fallback */
  color: rgba(0, 0, 0, 0.6);
  content: url("../images/loading.gif");
  font-size: 48px;
  left: 50%;
  margin-left: -14px;
  position: absolute; }

/*Discussion Board No Post Message*/
  .stream_show_more_data.db {
  position: static;
  left:none;
  margin:20px 10px 0 10px;
  width:100%;

  }
  .stream_show_more_data.db .extras:after{
    content: "";
    display: none;
  }


.gradingPanel .userInfo{
font-weight: bold;
display: block;
margin-top: 0px;
 }
.gradingPanel .userInfo img{
  /* should be removed after adding the .avatar class to the avatar image */
  background-color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 24px;
    margin: 2px 9px 5px 0;
    padding: 0;
    width: 24px;
}

/* DEVELOPER CUSTOMIZATION */
.gradeSubmitActions {
  text-align: right;
  display: block;
  padding: 12px 15px 8px;
  position: relative;
  bottom:0;
  z-index:99;
  overflow:visible;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.gradingPanel .button-1,
.gradingPanel .button-2,
.gradingPanel input[type="submit"].submit {
  display: inline-block;
  margin: 0 0 4px;
  padding: 4px 9px;
  font-size:100%;
}
.gradeSubmitActions div {
  cursor: pointer;
  display: inline-block;
}

.dockMenu {
  background:#444;/*fallback*/
  background:rgba(0,0,0,.7);
  border:none;
  -moz-box-shadow: 0 -5px 6px 0px #888;  /*fallback*/
  -webkit-box-shadow: 0 -5px 6px 0px #888;  /*fallback*/
  box-shadow: 0 -5px 6px 0px #888;  /*fallback*/
  -moz-box-shadow: 0 -5px 6px 0px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 -5px 6px 0px rgba(0,0,0,.3);
  box-shadow: 0 -5px 6px 0px rgba(0,0,0,.3);
}

#bottom_submitButtonRow {
  padding: 14px;
}

/* INLINE RUBRIC PANEL */
/* these are overrides that may be better corrected in the original rubric b2 DOM/css*/
  .gradeSubmissionPanel #collabRubricList {
    float:none;
    margin: 0 10px;
    color:#666666;
    width:auto;
    font-size:11px;

  }
  .gradeSubmissionPanel #collabRubricList .collabRubricListType{
        margin: 0 10px;

  }

  #collabRubricList .columnPalette {
    padding:5px 8px;
    line-height:20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;

  }

  #collabRubricList .columnPalette.selected {
    background-color: #c7e8f1;
  border: 1px solid #b9e2ed;
  border-bottom: none;
  }

 #collabRubricList .paletteGroup, .columnPalette {
border-top:1px dashed #b9e2ed;}


  #collabRubricList .columnPalette h4 {margin:0; padding:0;}

  #collabRubricList .columnPalette .itemHead,
  #collabRubricList .columnPalette .itemHeadOpen {
    background: none;
    display: block;
    padding: 0;
    text-decoration: underline;

    font-family: "Lucida Grande";
    font-weight: 600;
}

  #collabRubricList .genericButtonImg {
    position:relative;
  }
  /* overkill, but i wanted to retain the bg gradient applied to .genericButtonImg */
  #collabRubricList .genericButtonImg:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url('/images/ci/ng/small_new_window.gif') no-repeat center center;
  }

  #collabRubricList .genericButtonImg > img {
    opacity:0;
    filter: alpha(opacity=0);
  }

  .gradingPanel .showOnRubricGrade .button-4 {
    margin:0;
    float:none;
  }

  .showOnRubricGrade {
    text-indent:15px;
    position: relative;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 10px 10px 10px;
    border:1px solid #b9e2ed;
    /* text-indent positions text "Rubric is loading". since .showOnRubricGrade is not hidden by .js
    when the rubric is closed, we can't use padding. the "loading" text is the only text directed embedded in this div
    all other text appears in child divs. we could use text-align:center, but would need a similar override below; */
  }

  .showOnRubricGrade > div {
    text-indent:0;
  }

  .rubricControlContainer {
    padding-top:3px;
  }

  .rubricGradingList > .u_controlsWrapper {
    padding:12px 15px;
    text-indent:0;
    color: #03718f;
  }

  .rubricGradingRow {
    padding:6px 15px 12px;
    text-indent:0;
  }

  .rubricGradingComments {padding:12px 15px 66px;}

  .showOnRubricGrade > h3 {display:none;}

  .showOnRubricGrade .taskbuttondiv {display:none;}

  .showOnRubricGrade .rubricGradingComments + .taskbuttondiv {
    display:block;
    padding:14px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:10;
  }

  .attemptContent .rubricGradingList h4 {
    margin: 0;
    padding: 0;
  }

  /* styles for the badges that appear in each row */
  .rubricGradingList h4 span {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    line-height:1.2;
    background:#f9f9f9;
    color:#555;
    top:9px;
  }
  .rubricGradingList h4 .rangePercent {
    top:0;
  }

  .rubricGradingList .rubricRowPoints {background-color:#def0f4}

#collabRubricList .collabRubricListTypeContainer  {
  /* height:30px; */
  /* line-height:30px; */
  margin:0 6px;
}

#collabRubricList h4{
  margin-top:5px;
}

.rubricGradingComments .editableFeedback textarea {
    width:100%;
    border:1px solid #b9e2ed;
}
.rubricGradingComments .editableFeedback div.vtbe_footer {
    background:none;
    border:none;
  }

.rubricGradingTotalPoints,
.rubricGradingOverride {
  margin:0;
  padding:12px 15px 0;
  border-top: 1px solid #b9e2ed;
  font-weight:bold;
  font-size:100%;
}

.rubricGradingOverride {
  border:none;
  padding:0 15px 12px;
}

.rubricGradingComments .editor {margin:0;}

#collabRubricList a.itemHead {
  text-shadow:none;
}

#collabRubricList .warnFont{
  display: inline-block;
  font-size: 11px;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: .7;
  -o-opacity: .7;
  -khtml-opacity: .7;
  opacity: .7;
  padding: 6px;
}


/* this corrects a bug caused by /ui/styles/blackboard.css, which is used by the rubrics b2 */
.container {
  overflow:visible;
  padding: 0px !important;
}

/*BEGIN Contributors Navigation*/
  .navDropdownCombo {
      width: 100%;
      position: relative;
      background-color: transparent;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
  }
  .navDropdownCombo .leftBtn {
      width:40px;
      height: 40px;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      border-right:none;
      display: block;

      border-right: 1px solid #ccc;
        background: url('/images/ci/ng/small_previous.gif') center center no-repeat transparent;
  }
  .navDropdownCombo .rightBtn {
      width:40px;
      height: 40px;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      border-left:none;
      display: block;

      border-left: 1px solid #ccc;
        background: url('/images/ci/ng/small_next.gif') center center no-repeat transparent;
  }
  .navDropdownCombo .dropDown {
      height:40px;
      margin:0 40px;
      position: relative;
  }
  .navDropdownCombo .dropDown .currentUser {
      height: 40px;
      line-height:40px;
      text-align: center;
      display: block;
      text-decoration: none;
      background: url('../images/arrowDown-small.png') no-repeat center 90%;
  }
  .navDropdownCombo .dropDown .currentUser:hover{
    cursor: pointer;
  }

  .navDropdownCombo .dropDown .currentUser.expanded{
    background: url('../images/arrowUp-small.png') no-repeat center 90% #ececec;

  }
  .navDropdownCombo .dropDown .list {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      list-style-position: inside;
      list-style-type: none;
      border: 1px solid #ccc;
      background-color: #ececec;
      border-top:none;
      z-index: 99;
  }
  .navDropdownCombo .dropDown .list li {
      border-top:1px solid #ddd;
  }
   .navDropdownCombo .dropDown .list li:first-child {
      border-top:none;
  }
  .navDropdownCombo .dropDown .list li > a {
      text-decoration: none;
      padding:12px;
      display: block;
      min-height:40px;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
  }

  .navDropdownCombo .dropDown .list li .profileCardAvatarThumb img {
    float:left;
    margin:9px;
  }
    .navDropdownCombo .dropDown .list li a:hover{
      background-color:#f8f8f8 !important;
  }
  .navDropdownCombo .dropDown:hover, .navDropdownCombo .dropDown .list li a:hover, .navDropdownCombo .rightBtn:hover, .navDropdownCombo .leftBtn:hover {
      background-color: #ededed;
  }
  .showAllMembers{
	min-height:30px;	
	color:#555;
  padding:12px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  }
  .showAllMembers span input{
  	margin:0 5px 2px 0;
  }
  
  /*END Contributors Navigation*/


  /*BEGIN Interactive tool style overrides*/
  .collabContainer .previewerInner{padding:10px}
  .collabContainer .previewer.expanded {margin:0 28px 0 0}
  .collabContainer .previewer .blogContainer,
  .collabContainer .previewer .journalContainer{width:100%; float:none;}
  .collabContainer div.blogContainer div.blogEntry{border-color:#ccc; background-color:#fff; margin-bottom:20px;}
  /*END Interactive tool style overrides*/

/** Index block*/
.indexBlock a.tabOpener{
   color: #666;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Georgia, serif;
    line-height: 30px;
    height: 30px;
    display: block;
    margin: 0 15px;
    font-weight: 400;
    clear:both;
}
.indexBlock a.tabOpener:hover{
    color:#000;
}

.indexBlock a.tabOpener.expanded, .indexBlock a.tabOpener.collapsed {
  margin: 0 5px;
}

.indexBlock a.tabOpener.expanded img.expColCol, .indexBlock a.tabOpener.collapsed img.expColExp {
  display: inline-block;
}

.indexBlock a.tabOpener.expanded img.expColExp, .indexBlock a.tabOpener.collapsed img.expColCol {
  display: none;
}

.indexBlock > ul {
    margin:0 15px;
  }
.indexBlock > ul li {
  word-wrap: break-word;
}
/*empty submission text override - discussionboard*/
.inlineGrader .noItems.container-empty .secondary-message{
  color: #777;
}

/*override inline images inside feedback fields*/
.inlineGrader .vtbegenerated img { max-width:350px; height:auto;}
div.graderFeedbackPreview { overflow: auto !important; height:550px; width:410px;}

/* SafeAssign Panel */
/* am not sure how to reproduce this. it looks like the 40 pixels was added to align with the userName when
it renders next to an avatar. it also affects paragraphs generated by a content editor. used the :not 
pseudo-element to make sure it does not affect the content editor. */
.attemptContent > p,
.attemptContent div:not(.vtbegenerated) > p {
  padding: 10px 0px 10px 40px;
}

.attemptContent .attemptHeader {
  display: block;
  width: inherit;
  height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}
.attemptContent .attemptHeader span {
  padding: 15px;
  background-image: url("../images/arrowDown-small.png");
  background-position: 96% center;
  background-repeat: no-repeat;
}
.attemptContent .attemptHeader.expanded span {
  background-image: url("../images/arrowUp-small.png");
}

.attemptContent .attemptHeader .metadata {
  float: right;
  padding: 0px;
  margin-right: 15px;
  margin-top: -2px;
  background: none;
}
.attemptContent .attemptHeader .metadata span {
  display: block;
  padding: 2px 0 0;
  background: none;
}
.attemptContent .liveArea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 0;
  padding: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  box-shadow: none;
}
.attemptContent .liveArea .button-4 {
  text-align: center;
  float: none;
  display: block;
  margin: 10px auto;
  width: 150px;
}
.attachment-list {
  margin: 10px 0px;
}
.attemptContent h5.unprocessed {
  font-size: 12px;
  margin: 0px 15px 0px 15px;
  font-weight: normal;
  font-family: Georgia, serif;
}
.attachment-list li {
  color: #333;
  margin: 0px 0px 10px 40px;
}
.attachment-list li > span {
  float: left;
  width: 50%;
  word-break: break-all;
  padding-right: 15px;
}
.attachment-list li span span {
  display: block;
  color: #777;
}

.otherGraders.studentView {
  font-size: 12px;
  display: block;
  margin: 0 15px 0px 15px;
}
.otherGraders.graderView {
  font-size: 12px;
  display: block;
  margin: 0 15px 0px 15px;
}
.feedbackTitle.studentView {
  color: #006d89;
}
.feedbackTitle.graderView {
  color: #006d89;
}
.graderFeedback.studentView {
  display: block;
  margin: 0 15px 0px 15px;
}
.graderFeedback.graderView {
  display: block;
  margin: 0 15px 0px 15px;
}
.feedbackHeader.studentView {
  display: block;
}
.feedbackHeader.graderView {
  display: block;
}
.feedbackFromLabel {
  display: inline;
  font-weight:bold;
}
.feedbackFromName {
  display: inline;
  font-weight:bold;
}
.feedbackDate.studentView {
  display: block;
}
.feedbackDate.graderView {
  display: block;
}
.feedbackContent.studentView {
  display: block;
}
.feedbackContent.graderView {
  display: block;
}
.graderName {
  display: inline;
}
.provisionalGrade {
  display: inline;
}
.feedbackForLearner {
  display: inline;
}
.noteHeader {
  display: block;
}
.noteContent {
  display: block;
}
.graderHidden{
	display: none;
}

.gradersHeaderLabel {
  margin: 10px 0 5px 10px;
  display: inline-block;
}
.gradersListBtn {
  float: left;
  width:160px;
  border: 1px solid #bae3ef;
  padding: 1px 10px 1px 10px;
  margin: 10px 0 5px 10px;
  height: 34px;
  border-right: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gradersListDropDown {
  background: url("../images/arrowDown-small.png") center center no-repeat;
  border: 1px solid #bae3ef;
  border-left: none;
  height: 34px;
  width: 23px;
  float: left;
  margin: 10px 0 5px 0;
  overflow:hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent:-9999px;
}
.gradersListDropDown:hover {
  cursor: pointer;
  background-color: #b2dde6;
}
.provisionalGrade {
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: 0;
  top:0;
  bottom:0;
  border:1px solid #c3c3c3;
  height: 34px;
  vertical-align: middle;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.reconcileLink {
	float: right;
	clear: both;
	margin-top: -7px;
}