<div ng-controller="catalogo3Ctrl"  >

    <h1>{{ nombreCatalogo }}</h1>
    <div class="lineBlack"></div>
    <br>
    <div ng-repeat="producto in productos.slice(((bigCurrentPage-1)*itemsPerPage), ((bigCurrentPage)*itemsPerPage))">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{ producto.imagenes[0] }}" alt="">
                <div class="caption">
                    <h4><a class="lcd" href="#producto" ng-click="passObject(producto.id)" >{{ producto.nombre }}</a>
                    </h4>
                    <p>{{ producto.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="text-center col-sm-12">
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" class="pagination-sm"   boundary-links-numbers="true" num-rotate="true" items-per-page="3" max-size="4" next-text="Siguiente" previous-text="Anterior"></ul>

        <pre>Página: {{bigCurrentPage}} / {{numPages}}</pre>
    </div>

</div>