<div ng-controller="catalogo1Ctrl" ng-repeat="producto in productos track by producto.id " class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-0 ">


    <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img ng-src="{{ producto.imagen }}" alt="">
                <div class="caption">
                    <h4><a class="lcd" href="#producto" ng-click="passObject(producto.id)" >{{ producto.nombre }}</a>
                                </h4>
                    <p>{{ producto.descripcion }}</p>
                </div>
            </div>
        </div>
    </div>

</div>