<div ng-controller="productoCtrl">
    <h1>Producto</h1>
    <div class="lineBlack"></div>
    <br>
    <div class="col-xs-12  col-sm-12 col-md-8   ">
        <h2> {{ producto.nombre }} </h2>
        <div ng-repeat="imagen in images.slice(((bigCurrentPage-1)*itemsPerPage), ((bigCurrentPage)*itemsPerPage))" class="productoContainer">
            <span><img class="producto" ng-src="{{ imagen }}" ></span>
        </div>
        <h5 class="detailsInformacionCuerpo" >Diseñador: <h8 class="detailsInformacionContenido" > {{ producto.disenador}}</h8></h5>
        <div class="text-center col-sm-12">
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" class="pagination-sm" boundary-links-numbers="true" num-rotate="true" items-per-page="1" max-size="3" next-text=">" previous-text="<"></ul>
        </div>
    </div>
    <div class="col-xs-12  col-sm-12  col-md-4">
        <div class="thumbnail ">

            <div class="caption disenadorEIdeas ubicacion">
                <h3 class="detailsInformacion text-center"> Información</h3>
                <div class="lineYellow"></div>
                
                <h5 class="detailsInformacionCuerpo" >Dimensiones:</h5>
                <h8 class="detailsInformacionContenido" > {{ producto.disenador}}</h8>
                <h5 class="detailsInformacionCuerpo" >Año creación:</h5>
                <h8 class="detailsInformacionContenido"> {{ producto.fechaCreacion }}</h8>
                <h5 class="detailsInformacionCuerpo" >Distribuidores:</h5>
                <h8 class="detailsInformacionContenido"> {{ producto.distribuidores }}</h8>
                <h5 class="detailsInformacionCuerpo" >Colores:</h5>
                <h8 class="detailsInformacionContenido"> {{ producto.colores }}
                </h8>
                
                
            </div>
        </div>
      
        <div class="text-center btnvolver">
        <button type="button" class="btn btn-primary " onclick="goBack()">volver</button>
        </div>
    </div>
</div>